<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="page-wrapper">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" href="index.html">
          <img src="img/logo copia.png" alt="Logo" width="150px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">

          <!-- Navbar -->
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">Mujer </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="mujer/generico.html">Pantalones</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="mujer/generico.html">Blusas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="mujer/generico.html">Camisas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="mujer/generico.html">Chaquetas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="mujer/generico.html">Vestidos</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="mujer/generico.html">Zapatos</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">Hombre </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="hombre/generico.html">Pantalones</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="hombre/generico.html">Blusas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="hombre/generico.html">Camisas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="hombre/generico.html">Chaquetas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="hombre/generico.html">Trajes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="hombre/generico.html">Zapatos</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="contacto.html">Contacto</a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" href="about.html">Sobre nosotros</a>
            </li>

            <ul class="navbar-nav navbar-custom">
              <li class="nav-item">
                <a class="nav-link material-icons" data-toggle="modal" data-target="#modalLoginForm"
                   href="">account_circle</a>
              </li>
              <li class="nav-item">
                <a class="nav-link material-icons mr-2" href="mycart.html">shopping_cart</a>
              </li>
              <form class="form-inline" action="#">
                <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
                <button class="btn btn-success" type="submit">Buscar</button>
              </form>
            </ul>
          </ul>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <!-- Login -->
    <footer class="py-5 bg-dark">
      <div class="row m-0 justify-content-end align-items-center">
        <div class="col-6 col-md-8">
          <p class="m-0 text-center text-white">Copyright &copy; CanaryShop 2019</p>
        </div>
        <div class="col-5 col-md-2">
          <a href="https://www.twitter.com" target="_blank"
             class="a-no-style fa fa-twitter color-twitter size-custom mr-2 pr-1"></a>
          <a href="https://www.instagram.com" target="_blank"
             class="a-no-style fa fa-instagram color-instagram size-custom mr-2 pr-1"></a>
          <a href="https://www.facebook.com" target="_blank"
             class="a-no-style fa fa-facebook color-facebook size-custom mr-2 pr-1"></a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' %>
  </body>
</html>
